<%= form_for(trademark) do |f| %>
  <% if trademark.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(trademark.errors.count, "error") %> prohibited this trademark from being saved:</h2>

      <ul>
      <% trademark.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :www %>
    <%= f.text_field :www %>
  </div>

  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>

  <div class="field">
    <%= f.label :phone %>
    <%= f.text_field :phone %>
  </div>

  <div class="field">
    <%= f.label :logo %>
    <%= f.text_field :logo %>
  </div>

  <div class="field">
    <%= f.label :creator_id %>
    <%= f.number_field :creator_id %>
  </div>

  <div class="field">
    <%= f.label :updater_id %>
    <%= f.number_field :updater_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
