<div class = "row">
  <div class = "small-12 columns">
      <p id="notice"><%= notice %></p>

      <table>
        <thead>
          <tr>
            <th>Логотип</th>
            <th>Наименование</th>
            <th>Веб сайт</th>
            <th>Email</th>
            <th>Телефон</th>
            <th>Добавил</th>
            <th>Изменил</th>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% @trademarks.each do |trademark| %>
            <tr>
              <td><%= image_tag trademark.logo.small if !trademark.logo.nil? %></td>
              <td><%= trademark.name %></td>
              <td><%= trademark.www %></td>
              <td><%= trademark.email %></td>
              <td><%= trademark.phone %></td>
              <td><%= trademark.creator.email%></td>
              <td><%= trademark.updater.email %></td>
              <td><%= link_to "<i class = 'fi-arrow-right alert'>".html_safe, trademark %></td>
              <td><%= link_to "<i class = 'fi-pencil'>".html_safe, edit_trademark_path(trademark) %></td>
              <td><%= link_to "<i class = 'fi-x'>".html_safe, trademark, method: :delete, data: { confirm: 'Вы уверены, что хотите удалить торговую марку' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <br>

      <%= link_to 'Добавить марку', new_trademark_path %>
  </div>
</div>

