<% if boat_types.blank? %>
    <p>
        Список лодок пуст
    </p>
<%else%>
    <table>
      <thead>
        <tr>
          <th>Торговая марка</th>
          <th>Серия</th>
          <th>Тип корпуса</th>
          <th>Название</th>
          <th colspan="2"></th>
        </tr>
      </thead>

      <tbody>
        <% boat_types.each do |boat_type| %>
          <tr>
            <td><%= link_to boat_type.trademark.name, boat_type.trademark %></td>
            <td><%= boat_type.boat_series.name if !boat_type.boat_series.nil? %></td>
            <td><%= boat_type.body_type %></td>
            <td><%= boat_type.name %></td>
            <td><%= link_to "<i class = 'fi-pencil'></i>".html_safe, edit_boat_type_path(boat_type), "data-turbolinks"=> false %></td>
            <td><%= link_to "<i class = 'fi-x'></i>".html_safe, boat_type, method: :delete, data: { confirm: 'Вы уверены, что хотите удалить данный тип лодки?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
<%end%>