<div class = "row">
    <div class = "small-12 columns">
        <%= form_for(boat_type) do |f| %>
          <%= f.hidden_field :creator_id, value: current_user.id if boat_type.new_record? %>
          <%= f.hidden_field :modifier_id, value: current_user.id %>
          <% if boat_type.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(boat_type.errors.count, "error") %> prohibited this boat_type from being saved:</h2>

              <ul>
              <% boat_type.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
              </ul>
            </div>
          <% end %>
          <% if !boat_type.new_record? %>
          <div class = "row">
              <div class="small-2 columns field">
                <%= f.label :is_deprecated, "Устаревшая модель" %>
                <%= f.check_box :is_deprecated %>
              </div>
          
              <div class="small-2 columns end field">
                <%= f.label :is_active, "Показывать в каталоге" %>
                <%= f.check_box :is_active %>
              </div>
          </div>
          <%end%>
          <div class = "row">
              <div class="small-3 columns field">
                <%= f.label :trademark_id, "Марка лодки" %>
                <%= f.collection_select :trademark_id, Trademark.all, :id, :name %>
              </div>
          
              <div class="small-3 columns field">
                  <%= f.label :boat_series_id, "Серия" %>
                  <%= f.collection_select :boat_series_id, BoatSeries.all, :id, :name, include_blank:  "Вне серии"  %> 
              </div>
              
              <div class="small-3 columns field">
                <%= f.label :body_type, "Корпус" %>
                <div class = "row">
                    <div class="small-6 columns field">
                        <%= f.text_field :body_type %>
                    </div>
                    <div class="small-6 columns field">
                        <%= my_select_list(BoatType.body_types, "boat_type_body_type") %>
                    </div>
                </div>
              </div>
              
              <div class="small-3 columns field">
                <%= f.label :name, "Название лодки" %>
                <%= f.text_field :name %>
              </div>
          </div>
          <% if !boat_type.new_record? %>
          <div class="field">
            <%= f.label :cnf_data_file_url, "Ссылка на файл конфигуратора" %>
            <%= f.text_field :cnf_data_file_url %>
          </div>
          
          <div class="field">
            <%= f.label :description, "Текстовое описание" %>
            <%= f.text_field :description %>
          </div>

          <div class="field">
            <%= f.label :base_cost, "Базовая стоимость" %>
            <%= f.text_field :base_cost %>
          </div>
          <%end%>

          <div class="actions">
            <button class = "success button" type = "submit">
                <% if boat_type.new_record? %>
                    Создать
                <%else%>
                    Сохранить изменения
                <%end%>
            </button>
          </div>
        <% end %>
    </div>
</div>

