<%= form_for(boat_type) do |f| %>
  <% if boat_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(boat_type.errors.count, "error") %> prohibited this boat_type from being saved:</h2>

      <ul>
      <% boat_type.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :series %>
    <%= f.text_field :series %>
  </div>

  <div class="field">
    <%= f.label :body_type %>
    <%= f.text_field :body_type %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>

  <div class="field">
    <%= f.label :base_cost %>
    <%= f.text_field :base_cost %>
  </div>

  <div class="field">
    <%= f.label :min_hp %>
    <%= f.number_field :min_hp %>
  </div>

  <div class="field">
    <%= f.label :max_hp %>
    <%= f.number_field :max_hp %>
  </div>

  <div class="field">
    <%= f.label :hull_width %>
    <%= f.text_field :hull_width %>
  </div>

  <div class="field">
    <%= f.label :hull_length %>
    <%= f.text_field :hull_length %>
  </div>

  <div class="field">
    <%= f.label :is_deprecated %>
    <%= f.text_field :is_deprecated %>
  </div>

  <div class="field">
    <%= f.label :is_active %>
    <%= f.text_field :is_active %>
  </div>

  <div class="field">
    <%= f.label :creator_id %>
    <%= f.number_field :creator_id %>
  </div>

  <div class="field">
    <%= f.label :modifier_id %>
    <%= f.number_field :modifier_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
