<div class = "row tb-pad-s">
    <div class = "small-12 columns">
        <%= link_to 'К странице лодки', @boat_type %> |
        <%= link_to 'К списку типов лодок', manage_boat_types_path %>
       
    </div>
</div>

<div class = "row tb-pad-s">
    <div class = "small-12 columns">
        <ul class = 'bb-inline-menu' data-tabs id="bb-tabs">
            <li class = 'tabs-title is-active'>
                <a href="#main">Основные данные</a>
            </li>

            <li class = 'tabs-title'>
                <a href="#parameter-values">Технические характеристики</a>
            </li>

            <li class = 'tabs-title '>
               <a href="#photos">Фото</a>
            </li>
        </ul>
    </div>
</div>
<div class = "tabs-content" data-tabs-content="bb-tabs">
    <div class = 'tabs-panel is-active' id="main">
        <%= render 'form', boat_type: @boat_type %>
    </div>
    <div class = 'tabs-panel'  id="parameter-values">
        <div class = "row tb-pad-s">
          <div class="small-12 columns">
              <%= react_component 'BoatParameterValuesTable', { data: @boat_type.boat_parameters_for_react, is_edit_action: true } %>
          </div>
        </div>
    </div>
    <div class = 'tabs-panel'  id="photos">
        <div class = "row tb-pad-s">
          <div class="small-12 columns">
              <%= form_for(@boat_type, html: {class: "dropzone"}) do |f| %>
                  <%= f.hidden_field :modifier_id, value: current_user.id %>
                  <%= f.fields_for :photos_attributes do |ph| %>
                      <%= ph.hidden_field :uploader_id, value: current_user.id %>
                  <%end%>
              <%end%>
          </div>
        </div>
      <div id = "uploaded-photos-container" class="row small-up-2 medium-up-3 tb-pad-s">
          <% @boat_type.photos.each do |p| %>
                <div class="column column-block tb-pad-s">
                  <%= image_tag p.link.thumb, class: "thumbnail", "data-photo-id" => p.id%>
                </div>
           <%end%>
      </div>
    </div>
</div>



