<%= render 'control' %>
<!-- 
<div class = "row">
    <div class = "small-12 columns">
        <p id="notice"><%= notice %></p>
        
        <%= link_to '<i class = "fi-plus"></i> Добавить тип лодки'.html_safe, new_boat_type_path, class: "button" %>
        
        <% if @boat_types.not_active.size > 0 %>
        <h3>Не активные <span data-tooltip aria-haspopup="true" class="has-tip top subheader" data-disable-hover="false" tabindex="2" title="Не активные типы лодок скрыты в списке 'Типы лодок' и в разделе 'Готовые лодки'">?</span></h3>
        <%= render "boat_types_table", boat_types: @boat_types.not_active %>
        <%end%>
        <hr>
        <h3>Активные <span data-tooltip aria-haspopup="true" class="has-tip top subheader" data-disable-hover="false" tabindex="2" title="Лодки данного списка отображаются во всех разделах">?</span></h3>
        <%= render "boat_types_table", boat_types: @boat_types.active %>
        <hr>
        <h3>Сняты с производства <span data-tooltip aria-haspopup="true" class="has-tip top subheader" data-disable-hover="false" tabindex="2" title="Лодки данного списка подразумеваются как устаревшие, отсутствую в разделе 'Типы лодок', но если есть в наличие готовые, то отображаются в разделе 'Готовые лодки'">?</span></h3>
        <%= render "boat_types_table", boat_types: @boat_types.deprecated %>
    </div>
</div>

-->
