

<div class = "row">
    <div class = "small-12 columns">
        <p id="notice"><%= notice %></p>

        <p>
          <strong>Name:</strong>
          <%= @boat_type.name %>
        </p>

        <p>
          <strong>Series:</strong>
          <% if @boat_type.boat_series.nil? %>Вне серий<%else%><%= link_to @boat_type.boat_series.name, @boat_type.boat_series %><%end%>
        </p>

        <p>
          <strong>Body type:</strong>
          <%= @boat_type.body_type %>
        </p>

        <p>
          <strong>Description:</strong>
          <%= @boat_type.description %>
        </p>

        <p>
          <strong>Base cost:</strong>
          <%= @boat_type.base_cost %>
        </p>

        <p>
          <strong>Min hp:</strong>
          <%= @boat_type.min_hp %>
        </p>

        <p>
          <strong>Max hp:</strong>
          <%= @boat_type.max_hp %>
        </p>

        <p>
          <strong>Hull width:</strong>
          <%= @boat_type.hull_width %>
        </p>

        <p>
          <strong>Hull length:</strong>
          <%= @boat_type.hull_length %>
        </p>

        <p>
          <strong>Is deprecated:</strong>
          <%= @boat_type.is_deprecated %>
        </p>

        <p>
          <strong>Is active:</strong>
          <%= @boat_type.is_active %>
        </p>

        <p>
          <strong>Creator:</strong>
          <%= @boat_type.creator_id %>
        </p>

        <p>
          <strong>Modifier:</strong>
          <%= @boat_type.modifier_id %>
        </p>
        <%= react_component 'BoatParameterValuesTable', { data: @boat_type.boat_parameters_for_react } %>
    </div>
</div>

<%= link_to 'Edit', edit_boat_type_path(@boat_type) %> |
<%= link_to 'Back', boat_types_path %>
