<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @user.last_name %>
</p>

<p>
  <strong>Third name:</strong>
  <%= @user.third_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @user.phone_number %>
</p>

<p>
  <strong>Почтовый индекс:</strong>
  <%= @user.post_index %>
</p>
<%if is_manager? %>
<p>
  <strong>Тип пользователя:</strong>
  <%= @user.user_type_ru %>
</p>
<%end %>
<% if could_modify_user?%>
<%= link_to 'Изменить общую информацию', edit_user_path(@user)%>  
<%= link_to 'Изменить email', edit_user_path(id: @user.id, update_type: "email")%>
<%= link_to 'Изменить пароль', edit_user_path(id: @user.id, update_type: "password")%>
<%end %>

<%= link_to 'К списку пользователей', users_path if could_see_users_list? %>
