<% if Photo.count > 0 %>
<div class = "tb-pad-s">
    <div class = 'bb-wide-block' data-interchange = "[<%= Photo.second.link.wide_small.url %>, small], [<%= Photo.second.link.wide_medium.url %>, medium], [<%= Photo.second.link.wide_large.url %>, large]" style = "background-image:url('<%= Photo.second.link.wide_small.url %>');">
        <div class = "rc-fog medium-fog dark-blue-bg"></div>
    </div>
</div>

<div class = "tb-pad-s">
    <div class = 'bb-wide-block' data-interchange = "[<%= Photo.third.link.wide_small.url %>, small], [<%=  Photo.third.link.wide_medium.url %>, medium], [<%=  Photo.third.link.wide_large.url %>, large]" style = "background-image:url('<%=  Photo.third.link.wide_small.url %>');">
        <div class = "rc-fog hard-fog dark-blue-bg"></div>
        <div class = "row tb-pad-s">
            <div class = "small-12 columns text-center">
                <h3>
                    <%= BoatType.first.catalog_name %>
                </h3>
            </div>
        </div>
        <div class = "row show-for-large">
            <div class = "medium-12 columns text-center">
                <p>
                    Не следует, однако забывать, что постоянное  информационнопропагандистское 
                    обеспечение нашей  деятельности требуют от нас анализа новых предложений. 
                    Равным образом консультация с широким активом.
                </p>
            </div>
        </div>
        <div class = "row tb-pad-s">
            <% BoatType.first.boat_parameter_values.for_react.limit(6).each do |pv| %>
                <div class = "small-2 columns">
                    <div class="stat text-center rc-param-val-b">
                        <span><%= pv.get_value %></span>
                    </div>
                    <p class = "rc-param-name-b text-center">
                        <%= pv.name %>
                    </p>
                </div>
            <%end%>
            
        </div>
        <div class = "row tb-pad-s">
                <div class = "small-4 columns">
                    <%= link_to "ПОДРОБНЕЕ", BoatType.first, class: "button expanded" %>                    
                </div>
                <div class = "small-4 columns">
                    <div id = 'cost' class="stat text-center rc-param-val-b">
                        <span>587 000</span><span class = "rubl"></span>
                    </div>
                    <p class = "rc-param-name-b text-center">
                        начальная стоимость
                    </p>
                </div>
                
                <div class = "small-4 columns">
                    <%= link_to "КУПИТЬ", BoatType.first, class: "button expanded" %>                    
                </div>
        </div>
    </div>
</div>

<div class = 'row'>
    <div class = "small-12 medium-6 large-5 columns end">
        <div class = 'bb-mini-block' data-interchange = "[<%= Photo.third.link.small.url %>, small], [<%=  Photo.third.link.medium.url %>, medium], [<%=  Photo.third.link.large.url %>, large]" style = "background-image:url('<%=  Photo.third.link.small.url %>');">
            <div class = "rc-fog hard-fog dark-blue-bg"></div>
            <div class = 'row'>
                <div class = "small-12 columns text-center tb-pad-xs">
                    <h4>
                        <%= BoatType.first.catalog_name %>
                    </h4>
                </div>
            </div>
            <div class = "row">
                <% BoatType.first.boat_parameter_values.for_react.limit(3).each do |pv| %>
                    <div class = "small-4 columns">
                        <div class="stat text-center rc-param-val-b">
                            <span><%= pv.get_value %></span>
                        </div>
                        <p class = "rc-param-name-b text-center">
                            <%= pv.name %>
                        </p>
                    
                    </div>
                <%end%>
            </div>
            <div class = "row tb-pad-xs">
                    <div class = "small-12 small-centered columns">
                        <div id = 'cost' class="stat text-center rc-param-val-b">
                            <span>от</span> <span>587 000</span><span class = "rubl"></span>
                        </div>
                    </div>
            </div>
            <div class = "row">
                    <div class = "small-6 medium-4  columns">
                        <%= link_to "ПОДРОБНЕЕ", BoatType.first, class: "button expanded" %>                    
                    </div>

                    <div class = "small-6 medium-4 medium-offset-4 columns">
                        <%= link_to "КУПИТЬ", BoatType.first, class: "button expanded" %>                    
                    </div>
            </div>
        </div>
    </div>
</div>
<%end%>