        <div class = 'row'>
            <div class = 'small-12 columns'>
        <% if @boat_option_types.blank? %>

            <p>Список типов опций пуст</p>

        <%else%>
            <table>
                <thead>
                    <tr>
                        <th>
                            id
                        </th>
                         <th>
                             Код опции
                         </th>   
                         <th>
                             Название
                         </th>
                         <th>
                             Где используется
                         </th>
                         <th>
                             Тэг
                         </th>
                    </tr>
                </thead>
                <tbody>
                    <% @boat_option_types.each do |ot| %>
                        <tr style = 'cursor:pointer;' onclick="Turbolinks.visit('<%= boat_option_type_path(ot) %>');">
                            <td>
                                <%= ot.id %>
                            </td>
                            <td>
                                <%= ot.param_code %>
                            </td>
                            <td>
                                <%= ot.name %>
                            </td>
                            <td>
                                <% b_types = ot.boat_types_where_it_uses %>
                                <% if b_types.size > 0 %>
                                   <% b_types.each do |bt| %>
                                       <p>
                                           <%= bt.catalog_name %>
                                       </p>
                                   <%end%>
                                <%else%>
                                   -
                                <%end%>
                            </td>
                            <td>
                                <%= ot.tag %>
                            </td>
                        </tr>
                    <%end%>
                </tbody>
            </table>
        <% end %>
            </div>
        </div>
