<%= form_for(product) do |f| %>
    <div class = "row">
        <div class = "small-6 medium-3 columns">
            <%= f.label :manufacturer, "Производитель" %>
            <%= f.text_field :manufacturer %>
        </div>
        <div class = "small-12 medium-6 end columns">
            <%= f.label :name, "Название" %>
            <%= f.text_field :name %>
        </div>
    </div>
    <div class = "row">
        <div class = "small-12 columns">
            <%= f.label :description, "Описание" %>
            <%= f.text_area :description, rows: 7 %>
        </div>
    </div>
    <% if !product.entity_property_values.blank? %>
        <div class = "row tb-pad-s">
            <div class = "small-12 columns">
                <%= render "property_types/property_values_table", form: f, property_values: product.entity_property_values %>
            </div>
        </div>

    <%end%>
    <div class = "row">
        <div class = "small-12 columns">
            <%= f.submit "Сохранить", class: "button success" %>
        </div>
    </div>
<%end%>

