<%= form_for(product) do |f| %>
    <div class = "row">
        <div class = "small-6 medium-3 columns">
            <%= f.label :manufacturer, "Производитель" %>
            <%= f.text_field :manufacturer %>
        </div>
        <div class = "small-12 medium-6 end columns">
            <%= f.label :name, "Название" %>
            <%= f.text_field :name %>
        </div>
    </div>
    <div class = "row">
        <div class = "small-12 columns">
            <%= f.label :description, "Описание" %>
            <%= f.text_area :description, rows: 7 %>
        </div>
    </div>
    <% if !product.entity_property_values.blank? %>
        <div class = "row tb-pad-s">
            <div class = "small-12 columns">
                <h4>
                    Технические характеристики
                </h4>
                <table>
                    <thead>
                        <tr>
                            <th>
                                Характеристика, мера
                            </th>
                            <th>
                                Значение
                            </th>
                            <th>
                                Тэг
                            </th>
                            <th>
                                Используется
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <%= f.fields_for :entity_property_values, product.entity_property_values do |ep| %>
                            <tr>
                                <td>
                                    <%= ep.hidden_field :property_type_id %>
                                    <%= ep.label :set_value, ep.object.property_type.name_and_measure %>
                                </td>
                                <td>
                                    <%if ep.object.property_type.value_type == "integer" %>
                                        <%= ep.number_field :set_value, value: ep.object.get_value %>
                                    <%elsif ep.object.property_type.value_type == "bool" %>
                                        <%= ep.check_box :set_value, value: ep.object.get_value %>
                                    <%elsif ep.object.property_type.value_type == "float" %>
                                        <%= ep.text_field :set_value, placeholder: "0.0", value: ep.object.get_value %>
                                    <%else%>
                                        <%= ep.text_field :set_value, placeholder: "Значение", value: ep.object.get_value %>
                                    <%end%>
                                </td>
                                <td>
                                    <%= ep.text_field :tag, placeholder: "Служебный тэг" %>
                                </td>
                                <td>
                                    <%= ep.check_box :is_binded %>
                                </td>
                            </tr>
                        <%end%>
                    </tbody>
                </table>

            </div>
        </div>

    <%end%>
    <div class = "row">
        <div class = "small-12 columns">
            <%= f.submit "Сохранить", class: "button success" %>
        </div>
    </div>
<%end%>

