<%= form_for(boat_parameter_type, html: {id: "boat_parameter_type_form"}) do |f| %>
  <% if boat_parameter_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(boat_parameter_type.errors.count, "error") %> prohibited this boat_parameter_type from being saved:</h2>

      <ul>
      <% boat_parameter_type.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class = "row tb-pad-s">
      <div class="small-4 columns field">
        <%= f.label :name, "Наименование" %>
        <%= f.text_field :name %>
      </div>

      <div class="small-4 columns field">
        <%= f.label :short_name, "Краткое наименование" %>
        <%= f.text_field :short_name %>
      </div>


      <div class="small-4 columns field">
            <%= f.label :measure, "Мера измерения" %>
            <div class = "row">
                <div class="small-7 columns">
                    <%= f.text_field :measure %>
                </div>
                <div class="small-5 columns">
                    <%= my_select_list(BoatParameterType.measures, "boat_parameter_type_measure") %>
                </div>
            </div>
      </div>
      <div class="small-4 columns end field">
         <%= f.label :is_use_on_filter, "Использовать в фильтре" %>
         <%= f.check_box :is_use_on_filter %>
      </div>
      <div class="small-4 columns end field">
          <% if boat_parameter_type.new_record? %>
            <%= f.label :value_type, "Тип значения" %>
            <%= f.select :value_type, BoatParameterType.accessible_value_types %>
          <%end%>
      </div>
  </div>
  <div class = "row">
      <div class="small-12 columns actions">
        <button type="submit" class = "button success expanded">
            Сохранить
        </button>
      </div>
  </div>
  
<% end %>
