<!DOCTYPE html>
<html>
  <head>
    <title><%= @title.nil? ? "Купи себе лодку" : @title %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <div id = "top">
          <%= react_component 'SessionMenuItems', { data: session_menu_items } %><%# find_in app/assets/javascript/components/sessions.coffee %>
          <%if is_manager? %>
              <ul>
                  <li>
                      <%= link_to "Пользователи", users_path %>
                  </li>
                  <li>
                      <%= link_to "Типы лодок", boat_types_path %>
                  </li>
                  <li>
                      <%= link_to "Серии лодок", boat_series_index_path %>
                  </li>
                  <li>
                      <%= link_to "Торговые марки", trademarks_path %>
                  </li>
              </ul>
          <%end%>
      </div>
      <div id = "middle">
          <%if !@header.blank? %>
              <h1>
                  <%= @header %>
              </h1>
          <%end%>
          <div id = "content">
              <%= yield %>
          </div>
      </div>
      <div id = "footer">
      </div>

  </body>
</html>
