<!DOCTYPE html>
<html>
  <head>
    <title><%= page_title(current_site) %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    current_site, media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag current_site, 'data-turbolinks-track': 'reload' %>
    <% if !@additionScript.nil? %><script src="<%= @additionScript %>" type="text/javascript"></script><%end%>
  </head>

  <body  id = '<%= current_site %>'>
      <%= render "layouts/#{current_site}_layout" %>
  </body>
</html>
