<!DOCTYPE html>
<html>
  <head>
    <title><%= @title.nil? ? "Купи себе лодку" : @title %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <div id = "top">
          <ul>  
              <% if signed_in? %>
                  <li>
                      <%= link_to "Личный кабинет", my_path %>
                  </li>
                  <li>
                      <%= link_to "Выйти", signout_path %>
                  </li>
              <%else%>
                  <li>
                      <%= link_to "Вход", signin_path %>
                  </li>
                  <li>
                      <%= link_to "Регистрация", signup_path %>
                  </li>
              <% end %>
          </ul>
      </div>
      <div id = "middle">
          <%if !@header.blank? %>
              <h1>
                  <%= @header %>
              </h1>
          <%end%>
          <div id = "content">
              <%= yield %>
          </div>
      </div>
      <div id = "footer">
      </div>

  </body>
</html>
