<!DOCTYPE html>
<html>
  <head>
    <title><%= @title.nil? ? "Купи себе лодку" : @title %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <div id = "top">
          <%= react_component 'MenuItems', { data: menu_items } %><%# find_in app/assets/javascript/components/sessions.coffee %>
      </div>
      <div id = "middle">
          <%if !@header.blank? %>
              <div class = "row tb-pad-s">
                  <div class = "small-12 columns">
                      <h1>
                          <%= @header %>
                      </h1>
                  </div>
              </div>
          <%end%>
          <div id = "content">
              <%= yield %>
          </div>
      </div>
      <div id = "footer">
      </div>

  </body>
</html>
